<!DOCTYPE html>
<html>
<head><title>Student Register</title></head>
<body>
    <h1>Student Register</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <p><b>{{ message }}</b></p>
        {% endfor %}
    {% endwith %}
    <form method="POST">
        <p>Student ID: <input type="text" name="student_id"></p>
        <p>Email: <input type="email" name="email" placeholder="MMU Student Email" required></p>
        <p>Password: <input type="password" name="password"></p>
        <p>Confirm Password: <input type="password" name="confirm"></p>
        <button type="submit">Register</button>
    </form>
    <a href="/login">Already have an account? Login here</a>
</body>
</html>